/***** normalize-ccs *****/


html {
    line-height: 1.15; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  body {
    margin: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section {
    display: block;
  }
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  figcaption,
  figure,
  main { /* 1 */
    display: block;
  }
  
  figure {
    margin: 1em 40px;
  }
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  a {
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
  }
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  b,
  strong {
    font-weight: inherit;
  }
  
  b,
  strong {
    font-weight: bolder;
  }
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  dfn {
    font-style: italic;
  }
  
  mark {
    background-color: #ff0;
    color: #000;
  }
  
  small {
    font-size: 80%;
  }
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  audio,
  video {
    display: inline-block;
  }
  
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  
  img {
    border-style: none;
  }
  
  svg:not(:root) {
    overflow: hidden;
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: sans-serif; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  button,
  html [type="button"], /* 1 */
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button; /* 2 */
  }
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }

  button {
    border: none;
    font-size: 0;
  }
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  progress {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
  }
  
  textarea {
    overflow: auto;
  }
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  [type="search"]::-webkit-search-cancel-button,
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  details, /* 1 */
  menu {
    display: block;
  }
  
  summary {
    display: list-item;
  }
  
  canvas {
    display: inline-block;
  }
  
  template {
    display: none;
  }
  
  [hidden] {
    display: none;
  }

  .visually-hidden {
  display: none;
  }
  
  /** /\ ** normalize-ccs ** /\ **/ 
  /** /\ ** normalize-ccs ** /\ **/ 
  /** /\ ** normalize-ccs ** /\ **/ 

body {
  min-width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Cuprum', 'PT Sans', Arial, Tahoma, San-francis, sans-serif;
}

* {
box-sizing: border-box;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.head-top {
  min-height: 42px;
  background: #293449;
}

.head-logo {
  display: inline-block;
  width: 220px;
  height: 42px;
  padding: 9px;
  box-shadow: 0px 5px 0px 0px rgba(181,41,51,1);
  background: #ee3643;
  color: #ffffff;
  font-size: 24px;
  line-height: calc(24/24);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.head-link {
  display: inline-block;
  height: 42px;
  margin-left: -4px;
  padding: 10px 25px 10px 48px;
  color: #ffffff;    
  font-size: 17px;
  line-height: calc(18/17);
  text-align: center;
  text-decoration: none;
  vertical-align: top;
}

.head-logo:hover {
  background: #ca2c37;
}

.head-logo:active {
  background: #ba2732;
}

.bookmarks {
  background: url(../img/css_sprites.png) -2100px -366px;
}

.bookmarks:hover {
  background: #212a3a url(../img/css_sprites.png) -2100px -110px;
}

.bookmarks:active {
  background: #161d29 url(../img/css_sprites.png) -2100px -366px;
}

.basket {
  background: url(../img/css_sprites.png) -1843px -886px;
}

.basket:hover {
  background: #212a3a url(../img/css_sprites.png) -609px -1767px;
}

.basket:active {
  background: #161d29 url(../img/css_sprites.png) -1843px -886px;
}

.header-catalog .basket {
  background: #ee3643 url(../img/css_sprites.png) -1843px -886px;
}

.header-catalog .basket:hover {
  background: #ee3643 url(../img/css_sprites.png) -609px -1767px;
}

.header-catalog .basket:active {
  background: #ee3643 url(../img/css_sprites.png) -1843px -886px;
}

.checkout {
  display: inline-block;
  width: 150px;
  vertical-align: top;
  height: 42px;
  padding: 13px;
  background: #63a63e;
}

.checkout:hover {
  background: #5fbb2d;
}

.checkout:active {
  background: #518534;
}

.head-search {
  width: 270px;
  height: 42px;
  margin-left: -4px;
  padding: 5px;
  padding-left: 45px;
  border: none;
  background: inherit;
  color: #ffffff;
  background: url(../img/css_sprites.png) -1405px -1510px;
  vertical-align: top;
}

.head-search:hover {
  background: url(../img/css_sprites.png) -1851px -110px;
}

.head-search:focus{
  outline: none;
  background: #ffffff url(../img/css_sprites.png) -1148px -1510px;
}

.head-middle {
  min-height: 158px;
  background: #f3f7f8;
  padding: 45px 0;
}

.head-middle-box {
  display: flex;
  justify-content: space-between;
}

.head-p {
  width: 200px;
  margin: 0;
  margin-left: 53px;
  color: #ee3643;
  font-size: 16px;    
  line-height: calc(23/16);
  font-style: italic;
}

.head-number {
  display: inline-block;
  width: 270px;
  height: 45px;
  padding: 6px;
  padding-left: 30px;
  border: 3px solid #ffffff;
  background: url(../img/css_sprites.png) -1594px -372px;
  color: #ee3643;
  font-size: 21px;
  line-height: calc(24/18);
  text-align: center;
}

.head-address {
  padding: 10px;
  color: #32425c;
  font-size: 14px;
  line-height: calc(24/14);
  text-align: center;
}

.head-btn-log {
  display: inline-block;
  width: 120px;
  height: 45px;
  padding: 13px 27px;
  background: #ffffff url(../img/css_sprites.png) -890px -1508px;
  color: #111111;
  font-size: 21px;
  line-height: calc(18/21);
  text-align: right;
  text-decoration: none;
  margin-right: 10px;
}

.head-btn-log:hover {
  background: #ffffff url(../img/css_sprites.png) -630px -1508px;
  color: #ee3643;
}

.head-btn-log:active {
  background: #ffffff url(../img/css_sprites.png) -890px -1508px;
  color: #c5c5c5;
}

.head-btn-reg {
  display: inline-block;
  width: 150px;
  height: 45px;
  padding: 13px 27px;
  background: #ffffff;
  color: #111111;
  font-size: 21px;
  line-height: calc(18/21);
  text-align: right;
  text-decoration: none;
}

.head-btn-reg:hover {
  color: #ee3643;
}

.head-btn-reg:active {
  color: #c5c5c5;
}

.head-bottom {
  min-height: 120px;
  background: #f3f7f8;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.head-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: top;
  height: 55px;
  padding: 0 20px;
  background: #32425c;
  box-shadow: 0px 5px 0px 0px #293449;
}

.nav-link {
  padding: 18px 21px 20px 25px;
  color: #ffffff;
  font-size: 17px;
  line-height: calc(17/17);
  text-decoration: none;
}

.nav-link:hover {
  background: #293449;
}

.nav-link:active {
  background: #1d2739;
  color: #8e939c;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin-right: 20px;
}

/* slider */
/* slider */
/* slider */

.nav-slider {
  position: relative;
  margin-top: 20px;
  width: 620px; 
  height: 266px;
  background: #70451e;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 36px;
  left: 295px;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  vertical-align: top;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#slide-1:checked ~ .nav-slider {
  background: url(../img/techno-crab-1.jpg);
}

#slide-2:checked ~ .nav-slider {
  background: url(../img/techno-crab-2.jpg);
}

#slide-1:checked ~ .nav-slider #picture-1,
#slide-2:checked ~ .nav-slider #picture-2 {
  display: block;
}

#slide-1:checked ~ .nav-slider label[for="slide-1"],
#slide-2:checked ~ .nav-slider label[for="slide-2"] {
  border: 2px solid #ffffff;
  background: #ee3643;
}

.slide-1 {
  background: #574135 url(../img/techno-crab-1.jpg);
}

.slide-2 {
  background: #574135 url(../img/techno-crab-2.jpg);
}

/* slider */
/* slider */
/* slider */

.main-nav-group-1 {
  width: 300px; 
  height: 123px;
  margin-right: 20px;
  background: #ffbf47 url(../img/css_sprites.png) -1095px -402px;
}

.main-nav-group-1:hover {
  background: url(../img/gif/crab-1.gif) no-repeat  0 -10px / 100%;
}

.main-nav-group-2 {
  width: 300px; 
  height: 123px;
  background: #3bbce3 url(../img/css_sprites.png) 80px -920px;
}

.main-nav-group-2:hover {
  background: #3bbce3 url(../img/gif/crab-2.gif) no-repeat 160px 0px;
}

.main-nav-group-3 {
  width: 300px; 
  height: 123px;
  background: #dc91d8 url(../img/css_sprites.png) no-repeat -797px -383px;
}

.main-nav-group-3:hover {
  background: url(../img/gif/crab-3.gif) no-repeat -20px;
}

.main-nav-group-5 {
  width: 300px; 
  height: 123px;
  margin-top: 20px;
  background: #8ed78f url(../img/css_sprites.png) no-repeat -1105px -90px;
}

.main-nav-group-5:hover {
  background: url(../img/gif/crab-5.gif) no-repeat  0 -40px / 100%;
}

.main-nav-group-6 {
  width: 300px; 
  height: 123px;
  margin-top: 20px;
  background: #ffc047 url(../img/css_sprites.png) no-repeat -797px -80px;
}

.main-nav-group-6:hover {
  background: #ffc047 url(../img/gif/crab-6.gif) no-repeat no-repeat 10px / 100%;
}

.main-nav-h4 {
  margin: 0;
  padding: 18px 0 0 23px;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  line-height: calc(30/21);
}

.main-nav-link {
  display: inline-block;
  width: 135px;
  height: 38px;
  margin: 15px 0 22px 25px;
  padding: 10px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 14px;
  line-height: calc(18/14); 
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav-link:hover {
  background: rgba(0, 0, 0, 0.2);
}

.main-nav-link:active {
  background: rgba(0, 0, 0, 0.3);
}

.popular-goods {
  min-height: 448px;
}

.popular-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  background: #f9f5f0;
}

.popular-h2 {
  padding: 30px;
  color: #32425c;
  font-size: 30px;
  line-height: calc(30/30);
  text-transform: uppercase;
  font-weight: normal;
}

.main-btn { 
  display: inline-block;
  width: 253px;
  height: 38px;
  padding: 12px;
  border-radius: 3px;
  background: #ee3643;
  color: #ffffff;
  font-family: 'Cuprum';
  font-size: 14px;
  line-height: calc(18/14);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.main-btn:hover {
  background: #ca2c37 ;
}

.main-btn:active {
  background: #ba2732;
}

.main-nav .main-btn {
  position: absolute;
  bottom: 22px;
  left: 25px;
  width: 195px;
}

.popular-goods .main-btn {
  margin-right: 25px;
}

.popular-production .main-btn {
  margin-right: 25px;
}

.popular-middle {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.catalog-item {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 220px;
  min-height: 318px;
  border: 1px solid #eaeaea;
  text-align: center;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.5);
}

.catalog-item img {
  margin: auto;
}

.item-name {
  padding: 0 30px;
  color: #000000;
  font-family: 'PT Sans';
  font-weight: bold;
  font-size: 18px;
  line-height: calc(20/18);
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  text-indent: -1000px;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url(../img/css_sprites.png) -435px -956px;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 170px;
  padding: 44px 40px 0 ;
  background: #ffffff;
  z-index: 19;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.buy {
  display: inline-block;
  width: 135px;
  height: 38px;
  margin-bottom: 8px;
  padding: 11px;
  border-bottom: 3px solid #367315;
  border-radius: 3px;
  background: #63a63e url(../img/css_sprites.png) -363px -1767px;
  color: #ffffff;
  font-size: 14px;
  line-height: calc(18/14);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.buy:hover {
  background: #5fbb2d  url(../img/css_sprites.png) -1852px -1396px;
}

.buy:active {
  background: #518534  url(../img/css_sprites.png) -1852px -1396px;
}

.bookmark {
  display: inline-block;
  width: 135px;
  height: 38px;
  padding: 8px;
  border: 3px solid #63a63e;
  border-radius: 3px;
  background: #ffffff;
  color: #32425c;
  font-size: 14px;
  line-height: calc(18/14);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.bookmark:hover {
  border: 3px solid #32425c;
}

.bookmark:active {
  border: 3px solid #c1c6ce;
  color: #c1c6ce;
}

.item-price-1 {
  display: inline-block;
  width: 141px;
  height: 38px;
  margin-left: 40px;
  padding: 10px;
  color: #a9a9a9;
  font-family: 'PT Sans';
  font-weight: bold;
  font-size: 17px;
  line-height: calc(18/17);
  text-decoration: line-through;
}

.item-price-2 {
  display: inline-block;
  width: 141px;
  height: 38px;
  margin-left: 40px;
  margin-bottom: 20px;
  padding: 10px;
  background: #ee3643;
  background: url(../img/css_sprites.png) -530px -544px;
  color: #ffffff;
  font-family: 'PT Sans';
  font-weight: bold;
  font-size: 17px;
  line-height: calc(18/17);
}

.popular-production {
  min-height: 420px;
}

.production-middle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.production-item {
  display: flex;
  width: 220px;
  height: 145px;
  margin-top: 20px;
  border: 1px solid #eaeaea;
  text-align: center;
}

.production-item:hover {
  box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.5);
}

.production-item:active {
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
}

.production-item img {
  margin: auto;
}

.info-p {
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: calc(24/13);
}

.service-bg {
  min-height: 522px;
  margin-top: 85px;
  background: #f4f8f9;
}

.main-h2 {
  margin: 0;
  padding-top: 68px;
  padding-bottom: 16px;
  font-size: 30px;
  line-height: calc(24/30);
  text-transform: uppercase;
  color: #000000;
}

.service .info-p {
  margin-bottom: 30px;
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: calc(24/13);
}

.btn-and-info {
  display: flex;
  margin-top: 67px;
  padding-bottom: 70px;
}

.btn-and-info .service-info {
  width: 355px;
}

.groups {
  margin-right: 80px;
}

/* slider */
/* slider */
/* slider */

.service-btn-block input[type="radio"]{
	display: none;
}

.info-block {
  display: none;
}

label.label-btn {
  display: inline-block;
  width: 240px;
  height: 61px;
  padding-top: 16px;
  padding-left: 22px;
  background: #32425c;
  color: #ffffff;;
  font-size: 21px;
  font-weight: bold;
  line-height: calc(30/21);
}

.service-btn {
  border-bottom: 1px solid #4d637b;
}

.service-btn:last-child {
  border: none;
}


#btn-1:checked ~ .btn-and-info {
  background: url(../img/css_sprites.png) 190px -90px;
}

#btn-2:checked ~ .btn-and-info {
  background: url(../img/css_sprites.png) 1420px 300px;
}

#btn-3:checked ~ .btn-and-info {
  background: url(../img/css_sprites.png) 460px 295px;
}


#btn-1:checked ~ .btn-and-info #delivery,
#btn-2:checked ~ .btn-and-info #guarantee,
#btn-3:checked ~ .btn-and-info #credit {
  display: block;
}

#btn-1:checked ~ .btn-and-info label[for="btn-1"],
#btn-2:checked ~ .btn-and-info label[for="btn-2"],
#btn-3:checked ~ .btn-and-info label[for="btn-3"] {
  background: #ffffff;
  color: #32425c;
}

label.label-btn:hover {
  background: #293449;
}

/* slider */
/* slider */
/* slider */

.info-h3 {
  margin: 0;
  margin-top: 6px;
  padding-bottom: 20px;
  color: #32425c;
  font-size: 36px;
  line-height: calc(24/36);
  text-transform: uppercase;
}

.info-and-contacts {
  display: flex;
  justify-content: space-between;
  min-height: 536px;
  padding-bottom: 80px;
  padding-top: 82px;
}

.info-and-contacts h2 {
  padding: 0;
  padding-bottom: 17px;
}

.info-and-contacts p {
  margin-bottom: 22px;
}

.info-and-contacts .main-btn {
  width: 220px;
  margin-top: 17px;
}

.info {
  width: 520px;
}

.contacts {
  width: 300px;
}

.service .main-btn {
  width: 195px;
  margin: 0;
  background: #ff5357;
}

.info-and-contacts li {
  margin: 20px 0;
  list-style: none;
  font-size: 18px;
  line-height: calc(20/18);
}

.info-and-contacts li:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  margin-left: -40px;
  margin-top: 9px;
  background: #ee3643;
}

.contacts .main-btn {
  width: 300px;
  margin-top: 45px;
}

.contacts .info-p {
  width: 180px;
}


.footer-top-bg, 
.footer-middle-bg {
  min-height: 96px;
  background: #32425c;
}



.footer-bottom-bg {
  background: #293449;
}

.footer-logo {
  display: inline-block;
  width: 220px;
  height: 64px;
  margin-right: 139px;
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0px 5px 0px 0px rgba(181,41,51,1);
  background: #ee3643;
  color: #ffffff;
  font-size: 30px;
  line-height: calc(30/30);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.footer-logo:hover {
  background: #ca2c37;
}

.head-logo:active {
  background: #ba2732;
}

.footer-nav .nav-link {
  font-size: 18px;
  line-height: calc(24/18);
  padding: 30px;
  padding-top: 37px;
  padding-bottom: 10px;
}

.footer-nav .nav-link:last-child {
  padding-right: 0;
}

.footer-nav .nav-link:hover {
  background: none;
  text-decoration: underline;
}

.footer-nav .nav-link:active {
  background: none;
  color: #929caa;
  text-decoration: none;
}

.footer-middle .nav-link:hover {
  background: none;
  text-decoration: underline;
}

.footer-middle .nav-link:active {
  background: none;
  color: #998a6e;
  text-decoration: none;
}

.footer-middle .nav-link:last-child {
  background: none;
  padding-right: 0;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.footer-middle .footer-info {
  width: 325px;
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: calc(24/18);
}

.footer-nav {
  display: flex;
  justify-content: space-between;
}

.footer-middle .footer-nav {
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-middle .nav-link {
  padding-top: 0;
  color: #ffda96;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
}

.footer-bottom p {
  width: 230px;
  margin: 0;
  margin-right: 68px;
  color: #ffffff;
  font-size: 16px;
  line-height: calc(18/16);
}

.footer-socium {
  margin-left: 50px;
}

.btn-vk {
  display: inline-block;
  width: 41px;
  height: 41px;
  border-radius: 20px;
  background: #212a3a url(../img/css_sprites.png) -1298px -990px;
}

.btn-vk:hover {
  background: #ee3643 url(../img/css_sprites.png) -1298px -990px;
}

.btn-vk:active {
  background: #ee3643 url(../img/css_sprites.png) -1298px -990px;
}

.btn-facebook {
  display: inline-block;
  width: 41px;
  height: 41px;
  border-radius: 20px;
  background: #212a3a url(../img/css_sprites.png) -1850px -625px;
}

.btn-facebook:hover {
  background: #ee3643  url(../img/css_sprites.png) -1850px -625px;;
}

.btn-facebook:active {
  background: #ee3643  url(../img/css_sprites.png) -1850px -625px;;
}

.btn-insta {
  display: inline-block;
  width: 41px;
  height: 41px;
  border-radius: 20px;
  background: #212a3a url(../img/css_sprites.png) -911px -1248px;
}

.btn-insta:hover {
  background: #ee3643 url(../img/css_sprites.png) -911px -1248px;
}

.btn-insta:active {
  background: #ee3643 url(../img/css_sprites.png) -911px -1248px;
}

.footer-feedback {
  width: 140px;
  margin-left: 75px;
}

.footer-developer {
  width: 115px;
}

.footer-feedback:hover,
.footer-developer:hover {
  text-decoration: underline;
}

.footer-feedback:active,
.footer-developer:active {
  text-decoration: none;
}

.footer-link:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-link {
  color: #ffda96;
  font-size: 18px;
  line-height: calc(24/18);
}

/*!!! CATALOG !!!*/
/*!!! CATALOG !!!*/
/*!!! CATALOG !!!*/

/*
190px -470px
*/

.header-catalog .head-bottom {
  margin-bottom: 0;
}

.breadcrumbs {
  padding: 23px 0;
}

.breadcrumbs-home {
  display: inline-block;
  width: 14px;
  height: 12px;
  background: url(../img/css_sprites.png) no-repeat -2121px -888px;
}

.breadcrumbs-item {
  padding-left: 40px;
  color: #000000;
  background: url(../img/css_sprites.png) no-repeat -730px -756px;
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: calc(18/13);
  text-transform: uppercase;
  cursor: pointer;
}

.breadcrumbs-item:hover {
  font-weight: bold;
  color: #000000;
}

.breadcrumbs-item:active {
  color: #000000;
  font-weight: normal;
}

.section-name {
  width: 940px;
  min-height: 89px;
  background: #f2f6f8;
}

.section-name .popular-h2 {
  margin: 0;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-top {
  display: flex;
  width: 940px;
  margin-top: 20px;
}

.filter-title {
  width: 220px;
  height: 38px;
  margin-right: 20px;
  padding: 11px 18px;
  border-radius: 3px;
  background: #f7f3ec;
}

.catalog-title {
  display: flex;
  width: 700px;
  height: 38px;
  padding: 11px 18px;
  border-radius: 3px;
  background: #f7f3ec;
}

.filter-name {
  margin-right: 139px;
  font-family: 'PT Sans';
  font-size: 13px;
  font-weight: bold;
  line-height: calc(18/13);
  text-transform: uppercase;
  cursor: pointer;
}

.sorting-type {
  margin-right: 55px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #ee3643;
  color: #b6b3ae;
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: calc(18/13);
  text-transform: uppercase;
  cursor: pointer;
}

.sorting-type-active {
  margin-right: 71px;
  border: none;
  color: #ee3643;
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: calc(18/13);
  text-transform: uppercase;
  cursor: pointer;
}

.sorting-type:hover {
  border-bottom: 1px active #ee3643;
  color: #000000;
}

.sorting-type:active {
  border: none;
  color: #ee3643;
}

.scroll-btn-up {
  width: 11px;
  height: 11px;
  margin-right: 21px;
  background: url(../img/css_sprites.png) no-repeat -885px -1777px;
}

.scroll-btn-up:hover {
  background: url(../img/css_sprites.png) no-repeat -1136px -1777px;
}

.scroll-btn-up:active {
  background: url(../img/css_sprites.png) no-repeat -885px -1777px;
}

.scroll-btn-down {
  width: 11px;
  height: 11px;
  background: url(../img/css_sprites.png) no-repeat -2121px -1140px;
}

.scroll-btn-down:hover {
  background: url(../img/css_sprites.png) no-repeat -2121px -1390px;
}

.scroll-btn-down:active {
  background: url(../img/css_sprites.png) no-repeat -2121px -1640px;
}

.catalog-filters {
  width: 220px;
}

/*!!! FILTER-RANGE !!!*/
/*!!! FILTER-RANGE !!!*/
/*!!! FILTER-RANGE !!!*/

.filter-range {
  width: 220px;
}

.hyphen {
  padding: 4px;
  font-family: 'PT Sans';
  font-size: 16px;
  line-height: calc(18/16);
}

.price-controls input {
  width: 95px;
  margin: 0;
  padding: 9px;
  border: none;
  border-radius: 3px;
  background: #f7f3ec;
  font-family: 'PT Sans';
  font-size: 17px;
  line-height: calc(18/17);
  text-align: center;
}

.range-controls {
  position: relative;
  width: 220px;
  height: 80px;
  margin-bottom: 9px;
  border-radius: 3px;
  background: #f7f3ec;
}

.range-controls .scale {
  position: absolute;
  top: 39px;
  left: 20px;
  width: 180px;
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  position: absolute;
  width: 84%;
  height: 2px;
  background: #00ca74;
}

.range-toggle {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 40px;
  left: 20px;
  width: 20px;
  height: 20px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
  cursor: pointer;
}

.range-toggle-max {
  left: 75%
}

.range-toggle:hover {
  background: #00ca74;
}

.range-toggle:active {
  background: #000000;
}

/*!!! FILTER-RANGE !!!*/
/*!!! FILTER-RANGE !!!*/
/*!!! FILTER-RANGE !!!*/


.head-btn-profile {
  display: inline-block;
  width: 260px;
  height: 45px;
  padding: 13px;
  padding-left: 47px;
  background: #ffffff url(../img/css_sprites.png) no-repeat -1594px -630px;
  color: #000000;
  font-size: 21px;
  line-height: calc(18/21);
  text-decoration: none;
}

.head-btn-profile:hover {
  background: #ffffff url(../img/css_sprites.png) no-repeat -1594px -888px;
}

.head-btn-profile:active {
  background: #ffffff url(../img/css_sprites.png) no-repeat -1594px -630px;
  color: #c5c5c5
}

.head-btn-profile-out {
  display: inline-block;
  width: 40px;
  height: 45px;
  padding: 13px;
  background: #ffffff url(../img/css_sprites.png) no-repeat -1177px -1246px;
}

.head-btn-profile-out:hover {
  background: #ffffff url(../img/css_sprites.png) no-repeat -115px -1509px;
}

.head-btn-profile-out:active {
  background: #ffffff url(../img/css_sprites.png) no-repeat -1177px -1246px; 
}

.header-catalog .head-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 300px;
}

.profile-btn {
  margin-top: 8px;
  color: #32425c;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.profile-btn:hover {
 color: #ee3643;
}

.profile-btn:active {
  color: #bec5ce;
}

.circle {
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin: 15px;
  margin-bottom: 0;
  background: #32425c;
}

.catalog-filters .white-btn {
  width: 140px;
}

.price {
  border-bottom: 1px solid #e5e5e5;
}

.production {
  border-bottom: 1px solid #e5e5e5;
}

.catalog-filters input[type="checkbox"] {
  display: none;
}

.catalog-filters input[type="radio"] {
  display: none;
}

.filter-item {
  padding: 6px 0;
}

label.label-checkbox {
  position: relative;
  display: inline-block;
  height: 23px;
  padding-left: 40px;
  vertical-align: middle;
  font-family: 'PT Sans';
  font-size: 15px;
  line-height: calc(20/15);
  text-transform: uppercase;
}

label.label-radio {
  position: relative;
  display: inline-block;
  height: 25px;
  padding-left: 45px;
  vertical-align: middle;
  font-family: 'PT Sans';
  font-size: 15px;
  line-height: calc(20/15);
  text-transform: uppercase;
}

label.label-checkbox::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  bottom: 1px;
  background: url(../img/css_sprites.png) no-repeat -735px -956px;
}

.label-checkbox:hover::after {
  background: url(../img/css_sprites.png) no-repeat -1000px -956px;
}

input[type="checkbox"]:checked + label.label-checkbox::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 1px;
  bottom: 0;
  background: url(../img/css_sprites.png) no-repeat -120px -1257px;
}

input[type="checkbox"]:checked + label.label-checkbox:hover::after {
  background: url(../img/css_sprites.png) no-repeat -387px -1257px;
}

.label-radio::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 19px;
  height: 19px;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

input[type="radio"]:checked + label.label-radio::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 19px;
  height: 19px;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

input[type="radio"]:checked + label.label-radio::before {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 5px;
  width: 11px;
  height: 11px;
  border: 4px solid #ffffff;
  border-radius: 50%;
  background: #c5c5c5;
}

.label-radio:hover::after {
  border: 4px solid #b5b5b5;
}

input[type="radio"]:checked + label.label-radio:hover::after {
  border: 4px solid #b5b5b5;
}

input[type="radio"]:checked + label.label-radio:hover::before {
  background: #b5b5b5;
}

.filters-h2 {
  font-family: 'PT Sans';
  font-size: 17px;
  line-height: calc(30/17);
  text-transform: uppercase;
  font-weight: bold;
}

.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 700px;
  padding: 20px 0;
}

.catalog .catalog-item {
  margin-bottom: 20px;
}

.paginator {
  margin-top: 32px;
}

.paginator .main-btn {
  width: 38px;
  height: 38px;
  margin-right: 7px;
}

.white-btn {
  display: inline-block;
  width: 38px;
  height: 38px;
  vertical-align: top;
  margin-right: 7px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.white-btn:hover {
  border: 1px solid #bdc6ca;
}

.white-btn:active {
  border: 1px solid #ee3643;
}

.white-btn:last-child {
  width: 140px;
}

.catalog-filters .white-btn {
  margin-top: 70px;
}

.interesting {
  padding-bottom: 65px;
  background: #f2f6f8;
}

.interesting:hover {
  background: url(../img/gif/perf.gif) no-repeat 120px 0px / 20%, url(../img/gif/perf.gif) no-repeat 1300px 0 / 20%;
}

.write-us {
  display: none;
}


/* ​resize:none ВСТАВИТЬ ТЕКСТЕРИА*/
/* ​resize:none ВСТАВИТЬ ТЕКСТЕРИА*/
/* ​resize:none ВСТАВИТЬ ТЕКСТЕРИА*/
/* ​resize:none ВСТАВИТЬ ТЕКСТЕРИА*/
/* ​resize:none ВСТАВИТЬ ТЕКСТЕРИА*/
/* ​resize:none ВСТАВИТЬ ТЕКСТЕРИА*/