/***** normalize-ccs *****/


html {
    line-height: 1.15; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  body {
    margin: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section {
    display: block;
  }
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  figcaption,
  figure,
  main { /* 1 */
    display: block;
  }
  
  figure {
    margin: 1em 40px;
  }
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
  
  pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  a {
    background-color: transparent; /* 1 */
    -webkit-text-decoration-skip: objects; /* 2 */
  }
  
  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }
  
  b,
  strong {
    font-weight: inherit;
  }
  
  b,
  strong {
    font-weight: bolder;
  }
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  dfn {
    font-style: italic;
  }
  
  mark {
    background-color: #ff0;
    color: #000;
  }
  
  small {
    font-size: 80%;
  }
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  audio,
  video {
    display: inline-block;
  }
  
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  
  img {
    border-style: none;
  }
  
  svg:not(:root) {
    overflow: hidden;
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: sans-serif; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  button,
  input { /* 1 */
    overflow: visible;
  }
  
  button,
  select { /* 1 */
    text-transform: none;
  }
  
  button,
  html [type="button"], /* 1 */
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button; /* 2 */
  }
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
  }
  
  progress {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
  }
  
  textarea {
    overflow: auto;
  }
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
  }
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  [type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
  }
  
  [type="search"]::-webkit-search-cancel-button,
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
  }
  
  details, /* 1 */
  menu {
    display: block;
  }
  
  summary {
    display: list-item;
  }
  
  canvas {
    display: inline-block;
  }
  
  template {
    display: none;
  }
  
  [hidden] {
    display: none;
  }

  .visually-hidden {
    position: absolute;
  
    width: 1px;
    height: 1px;
  
    clip: rect(0, 0, 0, 0);
  }
  
  /** /\ ** normalize-ccs ** /\ **/ 
  /** /\ ** normalize-ccs ** /\ **/ 
  /** /\ ** normalize-ccs ** /\ **/ 

body {
  min-width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Cuprum', 'PT Sans', Arial, Tahoma, San-francis, sans-serif;
}

* {
box-sizing: border-box;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.head-top {
  display: flex;
  justify-content: space-between;
  height: 42px;
  background: #293449;
}

.head-logo {
  display: inline-block;
  width: 220px;
  height: 42px;
  margin-right: 20px;
  padding: 9px;
  box-shadow: 0px 5px 0px 0px rgba(181,41,51,1);
  background: #ee3643;
  color: #ffffff;
  font-size: 24px;
  line-height: calc(24/24);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.head-link {
  display: inline-block;
  height: 42px;
  padding: 10px 40px 10px 50px;
  color: #ffffff;    
  font-size: 17px;
  line-height: calc(18/17);
  text-align: center;
  text-decoration: none;
  vertical-align: top;
}

.head-logo:hover {
  background: #ca2c37;
}

.head-logo:active {
  background: #ba2732;
}

.bookmarks {
  background: url(../img/css_sprites.png) -2100px -366px;
}

.bookmarks:hover {
  background: #212a3a url(../img/css_sprites.png) -2100px -110px;
}

.bookmarks:active {
  background: #161d29 url(../img/css_sprites.png) -2100px -366px;
}

.basket {
  background: url(../img/css_sprites.png) -1843px -886px;
}

.basket:hover {
  background: #212a3a url(../img/css_sprites.png) -609px -1767px;
}

.basket:active {
  background: #161d29 url(../img/css_sprites.png) -1843px -886px;
}

.checkout {
  display: inline-block;
  width: 150px;
  vertical-align: top;
  height: 42px;
  padding: 13px;
  background: #63a63e;
}

.checkout:hover {
  background: #5fbb2d;
}

.checkout:active {
  background: #518534;
}

.head-search {
  padding: 5px;
  border: none;
  background: #293449;
  color: #ffffff;
}

.head-middle {
  background: #f3f7f8;
  padding: 45px 0;
}

.head-middle-box {
  display: flex;
  justify-content: space-between;
}

.head-middle p {
  width: 200px;
  margin: 0;
  margin-left: 53px;
  color: #ee3643;
  font-size: 16px;    
  line-height: calc(23/16);
  font-style: italic;
}

.head-number {
  display: inline-block;
  width: 270px;
  height: 45px;
  padding: 6px;
  border: 3px solid #ffffff;
  color: #ee3643;
  font-size: 21px;
  line-height: calc(24/18);
  text-align: center;
}

.head-address {
  padding: 10px;
  color: #32425c;
  font-size: 14px;
  line-height: calc(24/14);
  text-align: center;
}

.head-btn-log {
  display: inline-block;
  width: 120px;
  height: 45px;
  padding: 13px 27px;
  background: #ffffff url(../img/css_sprites.png) -890px -1508px;
  color: #111111;
  font-size: 21px;
  line-height: calc(18/21);
  text-align: right;
  text-decoration: none;
  margin-right: 10px;
}

.head-btn-log:hover {
  background: #ffffff url(../img/css_sprites.png) -630px -1508px;
  color: #ee3643;
}

.head-btn-log:active {
  background: #ffffff url(../img/css_sprites.png) -890px -1508px;
  color: #c5c5c5;
}

.head-btn-reg {
  display: inline-block;
  width: 150px;
  height: 45px;
  padding: 13px 27px;
  background: #ffffff;
  color: #111111;
  font-size: 21px;
  line-height: calc(18/21);
  text-align: right;
  text-decoration: none;
}

.head-btn-reg:hover {
  color: #ee3643;
}

.head-btn-reg:active {
  color: #c5c5c5;
}

.head-bottom {
  background: #f3f7f8;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.head-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  vertical-align: top;
  height: 55px;
  background: #32425c;
  box-shadow: 0px 5px 0px 0px #293449;
}

.nav-link {
  padding: 18px 31px 20px 35px;
  color: #ffffff;
  font-size: 17px;
  line-height: calc(17/17);
  text-decoration: none;
}

.nav-link:hover {
  background: #293449;
}

.nav-link:active {
  background: #1d2739;
  color: #8e939c;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin-right: 20px;
}

/* slider */
/* slider */
/* slider */

.nav-slider {
  position: relative;
  margin-top: 20px;
  width: 620px; 
  height: 266px;
  background: #70451e;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 36px;
  left: 295px;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  vertical-align: top;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#slide-1:checked ~ .nav-slider {
  background: url(../img/techno-crab-1.jpg);
}

#slide-2:checked ~ .nav-slider {
  background: url(../img/techno-crab-2.jpg);
}

#slide-1:checked ~ .nav-slider #picture-1,
#slide-2:checked ~ .nav-slider #picture-2 {
  display: block;
}

#slide-1:checked ~ .nav-slider label[for="slide-1"],
#slide-2:checked ~ .nav-slider label[for="slide-2"] {
  border: 2px solid #ffffff;
  background: #ee3643;
}

.slide-1 {
  background: #574135 url(../img/techno-crab-1.jpg);
}

.slide-2 {
  background: #574135 url(../img/techno-crab-2.jpg);
}

.main-nav-group-1 {
  width: 300px; 
  height: 123px;
  margin-right: 20px;
  background: #ffbf47;
}

.main-nav-group-1:hover {
  background: url(../img/gif/crab-1.gif) no-repeat  10px -10px;
}

.main-nav-group-2 {
  width: 300px; 
  height: 123px;
  background: #3bbce3;
}

.main-nav-group-2:hover {
  background: #3bbce3 url(../img/gif/crab-2.gif) no-repeat 160px 0px;
}

.main-nav-group-3 {
  width: 300px; 
  height: 123px;
  background: #dc91d8;
}

.main-nav-group-3:hover {
  background: url(../img/gif/crab-3.gif) no-repeat -20px;
}

.main-nav-group-5 {
  width: 300px; 
  height: 123px;
  margin-top: 20px;
  background: #8ed78f;
}

.main-nav-group-5:hover {
  background: url(../img/gif/crab-5.gif) no-repeat  0 -40px / 100%;
}

.main-nav-group-6 {
  width: 300px; 
  height: 123px;
  margin-top: 20px;
  background: #ffc047;
}

.main-nav-group-6:hover {
  background: #ffc047 url(../img/gif/crab-6.gif) no-repeat no-repeat 10px / 100%;
}

.main-nav-h4 {
  margin: 0;
  padding: 18px 0 0 23px;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  line-height: calc(30/21);
}

.main-nav-link {
  display: inline-block;
  width: 135px;
  height: 38px;
  margin: 15px 0 22px 25px;
  padding: 10px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 14px;
  line-height: calc(18/14); 
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.main-nav-link:hover {
  background: rgba(0, 0, 0, 0.2);
}

.main-nav-link:active {
  background: rgba(0, 0, 0, 0.3);
}

.popular-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  background: #f9f5f0;
}

.popular-h2 {
  padding: 30px;
  color: #32425c;
  font-size: 30px;
  line-height: calc(30/30);
  text-transform: uppercase;
}

.main-btn { 
  display: inline-block;
  width: 253px;
  height: 38px;
  padding: 12px;
  border-radius: 3px;
  background: #ee3643;
  color: #ffffff;
  font-size: 14px;
  line-height: calc(18/14);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.main-btn:hover {
  background: #ca2c37 ;
}

.main-btn:active {
  background: #ba2732;
}

.main-nav .main-btn {
  position: absolute;
  bottom: 22px;
  left: 25px;
  width: 195px;
}

.popular-goods .main-btn {
  margin-right: 25px;
}

.popular-production .main-btn {
  margin-right: 25px;
}

.popular-middle {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.popular-item {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 220px;
  min-height: 318px;
  border: 1px solid #eaeaea;
  text-align: center;
}

.popular-item:hover {
  box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.5);
}

.popular-item img {
  margin: auto;
}

.item-name {
  padding: 0 30px;
  color: #000000;
  font-family: 'PT Sans';
  font-weight: bold;
  font-size: 18px;
  line-height: calc(20/18);
}

.popular-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  overflow: hidden;
  text-indent: -1000px;
  z-index: 20;
}

.popular-item .flag-new {
  background: url(../img/css_sprites.png) -435px -956px;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 170px;
  padding: 44px 40px 0 ;
  background: #ffffff;
  z-index: 19;
}

.popular-item .actions {
  display: none;
}

.popular-item:hover .actions {
  display: block;
}

.buy {
  display: inline-block;
  width: 135px;
  height: 38px;
  margin-bottom: 8px;
  padding: 11px;
  border-bottom: 3px solid #367315;
  border-radius: 3px;
  background: #63a63e url(../img/css_sprites.png) -363px -1767px;
  color: #ffffff;
  font-size: 14px;
  line-height: calc(18/14);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.buy:hover {
  background: #5fbb2d  url(../img/css_sprites.png) -1852px -1396px;
}

.buy:active {
  background: #518534  url(../img/css_sprites.png) -1852px -1396px;
}

.bookmark {
  display: inline-block;
  width: 135px;
  height: 38px;
  padding: 8px;
  border: 3px solid #63a63e;
  border-radius: 3px;
  background: #ffffff;
  color: #32425c;
  font-size: 14px;
  line-height: calc(18/14);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.bookmark:hover {
  border: 3px solid #32425c;
}

.bookmark:active {
  border: 3px solid #c1c6ce;
  color: #c1c6ce;
}

.item-price-1 {
  display: inline-block;
  width: 141px;
  height: 38px;
  margin-left: 40px;
  padding: 10px;
  color: #a9a9a9;
  font-family: 'PT Sans';
  font-weight: bold;
  font-size: 17px;
  line-height: calc(18/17);
  text-decoration: line-through;
}

.item-price-2 {
  display: inline-block;
  width: 141px;
  height: 38px;
  margin-left: 40px;
  margin-bottom: 20px;
  padding: 10px;
  background: #ee3643;
  background: url(../img/css_sprites.png) -530px -544px;
  color: #ffffff;
  font-family: 'PT Sans';
  font-weight: bold;
  font-size: 17px;
  line-height: calc(18/17);
}

.production-middle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.production-item {
  display: flex;
  width: 220px;
  height: 145px;
  margin-top: 20px;
  border: 1px solid #eaeaea;
  text-align: center;
}

.production-item:hover {
  box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.5);
}

.production-item:active {
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.5);
}

.production-item img {
  margin: auto;
}

.service-bg {
  margin-top: 85px;
  padding-bottom: 60px;
  background: #f4f8f9;
}

.main-h2 {
  padding-top: 60px;
  font-size: 30px;
  line-height: calc(24/30);
  text-transform: uppercase;
  color: #000000;
}

.service p {
  margin-bottom: 70px;
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: calc(24/13);
}

.btn-and-info {
  display: flex;
  justify-content: space-between;
  width: 550px;
}

.service-btn {
  width: 240px;
  height: 61px;
}

.service-btn-block input[type="radio"]{
	display: none;
}

label.label-btn {
	position: relative;
	padding-left: 30px;
}

label.label-delivery:after {
	content: "Доставка";
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
  height: 45px;
  padding-top: 16px;
  padding-left: 22px;
  border-bottom: 1px solid #4e637c;
  background: #32425c;
  color: #ffffff;;
  font-size: 21px;
  font-weight: bold;
  line-height: calc(30/21);
}

input[type="radio"]:checked + label.label-delivery:after {
  background: #ffffff;
  color: #32425c;
}

.service-btn:hover .label-delivery:after {
  background: #293449;
}

label.label-guarantee:after {
	content: "Гарантия";
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
  height: 45px;
  padding-top: 16px;
  padding-left: 22px;
  border-bottom: 1px solid #4e637c;
  background: #32425c;
  color: #ffffff;;
  font-size: 21px;
  font-weight: bold;
  line-height: calc(30/21);
}

input[type="radio"]:checked + label.label-guarantee:after {
  background: #ffffff;
  color: #32425c;
}

.service-btn:hover .label-guarantee:after {
  background: #293449;
}

label.label-credit:after {
	content: "Доставка";
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
  height: 45px;
  padding-top: 16px;
  padding-left: 22px;
  background: #32425c;
  color: #ffffff;;
  font-size: 21px;
  font-weight: bold;
  line-height: calc(30/21);
}

input[type="radio"]:checked + label.label-credit:after {
  background: #ffffff;
  color: #32425c;
}

.service-btn:hover .label-credit:after {
  background: #293449;
}

.info-block {
  display: none;
}


/* !!! */
/* !!! */
/* !!! */

#btn-1:checked ~ .service-bg {
  background: url(../img/css_sprites.png);
}

#btn-2:checked ~ .service-bg {
  background: url(../img/css_sprites.png);
}

#btn-3:checked ~ .service-bg {
  background: url(../img/css_sprites.png);
}

#btn-1:checked ~ .btn-and-info #delivery,
#btn-2:checked ~ .btn-and-info #guarantee,
#btn-3:checked ~ .btn-and-info #credit {
  display: block;
}

#btn-1:checked ~ .btn-and-info label[for="btn-1"],
#btn-2:checked ~ .btn-and-info label[for="btn-2"],
#btn-3:checked ~ .btn-and-info label[for="btn-3"] {
  background: #ffffff;
  color: #32425c;
}

/* !!! */
/* !!! */
/* !!! */

.info-h3 {
  margin: 0;
  padding-bottom: 20px;
  color: #32425c;
  font-size: 36px;
  line-height: calc(24/36);
  text-transform: uppercase;
}

.info-and-contacts {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

.info {
  width: 520px;
}

.contacts {
  width: 300px;
}

.info-and-contacts p {
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: calc(24/13);
}

.info-and-contacts li {
  margin: 15px 0;
  list-style: none;
  font-size: 18px;
  line-height: calc(20/18);
}

.info-and-contacts li:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  margin-left: -40px;
  margin-top: 9px;
  background: #ee3643;
}

.contacts .main-btn {
  margin-top: 32px;
}

.contacts p {
  width: 180px;
}


.footer-top-bg, .footer-middle-bg {
  background: #32425c;
}

.footer-bottom-bg {
  background: #293449;
}

.footer-logo {
  display: inline-block;
  width: 220px;
  height: 68px;
  margin-right: 58px;
  margin-bottom: 35px;
  padding: 20px;
  box-shadow: 0px 5px 0px 0px rgba(181,41,51,1);
  background: #ee3643;
  color: #ffffff;
  font-size: 30px;
  line-height: calc(30/30);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.footer-logo:hover {
  background: #ca2c37;
}

.head-logo:active {
  background: #ba2732;
}

.footer-nav .nav-link {
  font-size: 18px;
  line-height: calc(24/18);
  padding: 30px;
  padding-bottom: 20px;
}

.footer-nav .nav-link:last-child {
  padding-right: 0;
}

.footer-nav .nav-link:hover {
  background: none;
  text-decoration: underline;
}

.footer-nav .nav-link:active {
  background: none;
  color: #929caa;
  text-decoration: none;
}

.footer-middle .nav-link:hover {
  background: none;
  text-decoration: underline;
}

.footer-middle .nav-link:active {
  background: none;
  color: #998a6e;
  text-decoration: none;
}

.footer-middle .nav-link:last-child {
  background: none;
  padding-right: 0;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}

.footer-middle .footer-info {
  width: 325px;
  margin: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: calc(24/18);
}

.footer-nav {
  display: flex;
  justify-content: space-between;
}

.footer-middle .footer-nav {
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-middle .nav-link {
  padding-top: 0;
  color: #ffda96;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 35px 0;
}

.footer-bottom p {
  width: 230px;
  margin: 0;
  margin-right: 68px;
  color: #ffffff;
  font-size: 16px;
  line-height: calc(18/16);
}

.footer-socium {
  margin-right: 20px;
}

.btn-vk {
  display: inline-block;
  width: 41px;
  height: 41px;
  border-radius: 20px;
  background: #212a3a url(../img/css_sprites.png) -1298px -990px;
}

.btn-vk:hover {
  background: #ee3643 url(../img/css_sprites.png) -1298px -990px;
}

.btn-vk:active {
  background: #ee3643 url(../img/css_sprites.png) -1298px -990px;
}

.btn-facebook {
  display: inline-block;
  width: 41px;
  height: 41px;
  border-radius: 20px;
  background: #212a3a url(../img/css_sprites.png) -1850px -625px;
}

.btn-facebook:hover {
  background: #ee3643  url(../img/css_sprites.png) -1850px -625px;;
}

.btn-facebook:active {
  background: #ee3643  url(../img/css_sprites.png) -1850px -625px;;
}

.btn-insta {
  display: inline-block;
  width: 41px;
  height: 41px;
  border-radius: 20px;
  background: #212a3a url(../img/css_sprites.png) -911px -1248px;
}

.btn-insta:hover {
  background: #ee3643 url(../img/css_sprites.png) -911px -1248px;
}

.btn-insta:active {
  background: #ee3643 url(../img/css_sprites.png) -911px -1248px;
}

.footer-feedback {
  width: 140px;
}

.footer-developer {
  width: 115px;
}

.footer-feedback:hover,
.footer-developer:hover {
  text-decoration: underline;
}

.footer-feedback:active,
.footer-developer:active {
  text-decoration: none;
}

.footer-link:active {
  color: #ee3643;
  text-decoration: none;
}

.footer-link {
  color: #ffda96;
  font-size: 18px;
  line-height: calc(24/18);
}
